parameters:
    level: 1
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
