@import "@ghost/govuk-frontend-bundle/assets/scss/ghost-frontend";

section.govuk-service-navigation__wrapper-full-width {
  nav.govuk-service-navigation__wrapper {
    flex-grow: 1;
  }
}

li.govuk-service-navigation__margin-left-auto {
  margin-left: auto;
}

form.expenses table {
  .actual-or-forecast {
    display: block;
    font-weight: normal;
  }

  .govuk-form-group {
    margin-bottom: 0;
  }

  .govuk-table__header,
  .govuk-table__cell {
    padding-right: 5px;
  }

  .govuk-table__cell {
    min-width: 60px;
  }

  th,
  input[type="text"] {
    @include govuk-font-size($size: 16);
  }

  input[type="text"] {
    text-align: right;
  }

  .header_row {
    position: sticky;
    top: 0;
    background: #eee;
    z-index: 100;
  }
}