@import "@ghost/govuk-frontend-bundle/assets/scss/ghost-frontend";
@import "govuk-frontend";

section.govuk-service-navigation__wrapper-full-width {
  nav.govuk-service-navigation__wrapper {
    flex-grow: 1;
  }
}

li.govuk-service-navigation__margin-left-auto {
  margin-left: auto;
}

table.expenses {
  .actual-or-forecast {
    display: block;
    font-weight: normal;
  }

  tr:not(:last-child) .spacer {
    width: 2vw;
    border-bottom: none;
  }

  tbody tr:first-child,
  .group-header {
    background: #ddd;
  }

  tbody tr.ungrouped {
    background: none;
  }

  tbody tr:first-child th,
  .group-header,
  .ungrouped th {
    padding-left: 10px;
  }

  .govuk-form-group {
    margin-bottom: 0;
  }

  .govuk-table__header,
  .govuk-table__cell {
    padding-right: 5px;
  }

  .govuk-table__cell {
    min-width: 60px;
  }

  th,
  td,
  input[type="text"] {
    @include govuk-font-size($size: 16);
  }

  th {
    vertical-align: middle;
  }

  thead th,
  td {
    text-align: right;
  }

  input[type="text"] {
    text-align: right;
  }

  input[disabled] {
    border-color: transparent;
    opacity: 0.75;
  }

  thead {
    position: sticky;
    top: 0;
    background: #ccc;
    z-index: 100;
  }

  tbody + body {
    margin-top: 40px;
  }
}

table.calculated-expenses {
  margin-bottom: govuk-spacing(2);

  .number_column {
    min-width: 120px;
  }
}

.expenses-links {
  text-align: right;
}
