@import "@ghost/govuk-frontend-bundle/assets/scss/ghost-frontend";
@import "@ghost/govuk-core-bundle/assets/scss/ghost-core";
@import "govuk-frontend";

@import 'expenses.scss';
@import 'loading-spinner.scss';

.govuk-width-container {
  max-width: 1080px;
}

section.govuk-service-navigation__wrapper-full-width {
  nav.govuk-service-navigation__wrapper {
    flex-grow: 1;
  }
}

li.govuk-service-navigation__margin-left-auto {
  margin-left: auto;
}

.scheme-list {
  .list-table--buttons {
    justify-content: flex-end;
  }

  .govuk-table__cell:last-child {
    text-align: right;
  }
}

.govuk-warning-header {
  background: govuk-colour("white");
  color: govuk-colour("black");
  padding: govuk-spacing(2);
  @include govuk-font(16);
}

.guidance-table {
  .govuk-table__header {
    white-space: nowrap;
  }
}

.govuk-hint {
  // Remove the "newline" that appears if you use markdown in a form help block
  p:first-child {
    margin-top: 0;
  }
}

// Used for screenshots
#select-choices {
  position: absolute;
  background: white;
  border: 1px solid govuk-colour('dark-grey');

  span {
    display: block;
    padding: 2px 5px;
    @include govuk-font(19);
  }

  span.selected {
    background: #1967D2;
    color: white;
  }
}

.signoff-eligibility-status-problems {
  margin-bottom: 0;
  tr:last-child {
    td {
      border-bottom: none;
    }
  }
  .links {
    text-align: right;
  }
}

.privacy-notice {
  ul {
    margin-left: govuk-spacing(5);
  }
}