{%- extends 'admin/base.html.twig' -%}

{%- set page_title_key = 'admin.pages.dashboard.title' -%}
{%- set current_menu = 'dashboard' -%}

{%- block content -%}
    <div class="govuk-body">
        Admin dashboard...
    </div>
{%- endblock -%}
