{%- extends 'frontend/base.html.twig' -%}

{%- set page_heading = linksBuilder.breadcrumbTitleFor('scheme_return') ~ ': ' ~ linksBuilder.breadcrumbTitleFor('scheme_return_edit') -%}
{%- set page_title = linksBuilder.breadcrumbTitleFor('scheme_return_edit') ~ ' | ' ~ linksBuilder.breadcrumbTitleFor('scheme_return') -%}
{%- set page_heading_class = 'govuk-heading-m' -%}

{%- block content -%}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-wide">
            {{ form(form) }}
        </div>
    </div>
{%- endblock -%}
