{%- extends 'base.html.twig' -%}

{%- set page_title_key = "frontend.pages.accessibility-statement.page-title" -%}
{%- set page_title_params = {hostname: hostnames.frontend} -%}
{%- set translation_parameters = {hostname: hostnames.frontend} -%}

{%- block content -%}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds prose-scope">
            {{- include('frontend/accessibility-statement.md.twig')|markdown_to_html -}}
        </div>
    </div>
{%- endblock -%}
