{%- extends 'base.html.twig' -%}

{%- block navigation -%}
    {%- if is_granted('ROLE_USER') -%}
        {%- from "@GhostGovUkFrontend/components/macros.html.twig" import serviceNavigation -%}

        {%- set signOutLink -%}
            <li class="govuk-service-navigation__item govuk-service-navigation__margin-left-auto">
                <a class="govuk-service-navigation__link" href="{{ path('app_logout') }}">{{ 'auth.sign_out' | trans }}</a>
            </li>
        {%- endset -%}

        {%- set current_menu = current_menu ?? null -%}

        {{- serviceNavigation({
            classes: 'govuk-service-navigation__wrapper-full-width',
            serviceName: 'site.title' | trans,
            navigation: [
                {
                    href: path('app_dashboard'),
                    text: "frontend.pages.dashboard.home" | trans,
                    active: current_menu == 'dashboard',
                }
            ],
            slots: {
                navigationEnd: signOutLink
            }
        }) -}}
    {%- endif -%}
{%- endblock -%}
