{%- extends 'frontend/base.html.twig' -%}

{%- set page_title = 'frontend.pages.dashboard.title' | trans -%}
{%- set current_menu = 'dashboard' -%}

{%- block content -%}
    {% from "@GhostGovUkFrontend/components/macros.html.twig" import summaryListStart, summaryListEnd, summaryListRow %}

    {%- if authorities is empty -%}
        <p class="govuk-body">{{ 'frontend.pages.dashboard.no_authorities' | trans }}</p>
    {%- else -%}
        {{- summaryListStart() -}}
        {%- for authority in authorities -%}
            {{ summaryListRow({
                key: authority.name,
                value: '',
                actions: [
                    {
                        text: 'common.actions.view' | trans,
                        href: path('app_dashboard_authority', {authorityId: authority.id}),
                    },
                ]
            }) }}
        {%- endfor -%}
        {{ summaryListEnd() }}
    {%- endif -%}
{%- endblock -%}
