{%- extends 'frontend/base.html.twig' -%}

{%- set page_title = 'frontend.pages.dashboard.title' | trans -%}
{%- set current_menu = 'dashboard' -%}

{%- block content -%}
    {% from "@GhostGovUkFrontend/components/macros.html.twig" import taskListStart, taskListEnd, taskListItem %}

    {%- for recipient in recipients -%}
        <h2 class="govuk-heading-m">{{ recipient.name }}</h2>

        {# TODO: At a later date, this can be split into separate "outstanding"
                 and "completed" return pages, and paginated
        #}

        {{- taskListStart() -}}
        {%- for fundAward in recipient.fundAwards -%}
            {%- for fundReturn in fundAward.returns -%}
                {%- if is_granted('CAN_VIEW', fundReturn) -%}
                    {%- set tag = fundReturn.signoffUser is null ? 'in_progress' : 'completed' -%}
                    {{- taskListItem({
                        title: {
                            text: "frontend.pages.dashboard.fund_title" | trans({
                                fundName: "enum.fund.#{fundAward.type.name}" | trans,
                                quarter: fundReturn.quarter,
                                year: fundReturn.year,
                                nextYear: fundReturn.nextYearAsTwoDigits,
                            })
                        },
                        href: path('app_fund_return', {fundReturnId: fundReturn.id}),
                        status: {tag: {
                            text: "tags.#{tag}.name" | trans,
                            classes: "govuk-tag--" ~ ("tags.#{tag}.colour" | trans),
                        }},
                    }, loop.index) -}}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
        {{- taskListEnd() -}}
    {%- endfor -%}
{%- endblock -%}
