{%- extends 'frontend/base.html.twig' -%}

{%- set page_title = 'frontend.pages.dashboard.title' | trans -%}
{%- set current_menu = 'dashboard' -%}

{%- block content -%}
    {% from "@GhostGovUkFrontend/components/macros.html.twig" import summaryList %}

    {%- if authorities is empty -%}
        <p class="govuk-body">{{ 'frontend.pages.dashboard.no_authorities' | trans }}</p>
    {%- else -%}
        {{- summaryList({
            rows: authorities | map((a,k) => {
                key: {text: a.name},
                value: {text: ''},
                actions: {items: [
                    {
                        text: 'common.actions.view' | trans,
                        href: path('app_dashboard_authority', {authorityId: a.id}),
                    },
                ]}
            })
        }) -}}
    {%- endif -%}
{%- endblock -%}
