{% extends '@GhostGovUkFrontend/template.html.twig' %}

{% block head %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block bodyEnd %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block content %}
    <p class="govuk-body">Hello world</p>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_dashboard') }}" class="govuk-link">Dashboard</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="govuk-link">Login</a>
    {% endif %}
{% endblock %}