{% extends 'base.html.twig' %}

{% set page_title_key = "frontend.pages.privacy_notice.page_title" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds prose-scope privacy-notice">
            {{ include('frontend/privacy_notice.md')|markdown_to_html }}
        </div>
    </div>
{% endblock %}
