{%- extends 'frontend/base.html.twig' -%}

{%- set current_page = 'recipient' -%}
{%- set page_title_params = {
    recipientName: recipient.name
} %}

{%- block content -%}
    {% from "@GhostGovUkFrontend/components/macros.html.twig" import taskListStart, taskListEnd, taskListItem %}

    <h2 class="govuk-heading-m">{{ 'frontend.pages.recipient.fund_award_returns' | trans }}</h2>

    {# TODO: At a later date, this can be split into "outstanding" and "completed" returns, and paginated #}

    {{ taskListStart() }}
    {% for fundAward in recipient.fundAwards %}
        {% for fundReturn in fundAward.returns%}
            {%- set tag = fundReturn.signoffUser is null ? 'in_progress' : 'complete' -%}
            {{- taskListItem({
                title: {text: fundAward.type.name ~ ': ' ~ fundReturn.year ~ ' Q' ~ fundReturn.quarter},
                href: path('app_fund_return', {id: fundReturn.id}),
                status: {tag: {
                    text: "tags.#{tag}.name" | trans,
                    classes: "govuk-tag--" ~ ("tags.#{tag}.colour" | trans),
                }},
            }, loop.index) -}}
        {% endfor %}
    {% endfor %}
    {{ taskListEnd() }}
{%- endblock -%}
