{%- extends 'frontend/base.html.twig' -%}

{%- set current_page = 'auth.sign-in' -%}
{%- set heading_class = 'govuk-heading-xl' -%}

{% block metaDescription %}Sign in here. You will need the credentials you were sent.{% endblock %}

{%- block content -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import errorSummary, notificationBanner -%}

    {%- if authenticationError -%}
        {{- errorSummary({
            titleText: 'error_summary.title' | trans,
            errorList: [
                {text: authenticationError.message, href: '#login_username'}
            ]
        }) -}}
    {% endif -%}

    <p class="govuk-body govuk-!-margin-bottom-8">Use this service to complete your returns.</p>

    {% form_theme form '@GhostGovUkFrontend/theme.html.twig' %}
    {{ form(form) }}
{%- endblock -%}
