{% extends 'frontend/base.html.twig' %}

{%- set page_title_key = 'frontend.pages.auth.authenticate.title' -%}
{%- set heading_class = 'govuk-heading-xl' -%}

{% block content %}
    <p class="govuk-body">Click through to your dashboard to fill in a new return or review completed returns.</p>

    <form action="{{ path('app_login_check') }}" method="POST">
        <input type="hidden" name="expires" value="{{ expires }}">
        <input type="hidden" name="user" value="{{ user }}">
        <input type="hidden" name="hash" value="{{ hash }}">

        <button id="login" type="submit" class="govuk-button">Login and access dashboard</button>
    </form>
{% endblock %}
