{% extends 'frontend/base.html.twig' %}

{%- set current_page = 'auth.check_email' %}
{%- set heading_class = 'govuk-heading-xl' -%}

{% block content %}
    <p class="govuk-body">If you are a registered user on this service, an email will be sent to you with a one-time access link.</p>
{#  <p class="govuk-body">If you are not a registered user but need to access this service, please contact <a href="mailto:email@dft.gov.uk" class="govuk-link">email@dft.gov.uk</a>.</p> #}
{% endblock %}
