{% extends 'base.html.twig' %}

{%- set page_title_key = prefix ~ 'heading' -%}

{% block sessionWarning %}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">{{ (prefix ~ 'copy')|trans|nl2br }}</p>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}